@import "tailwindcss";

* {
    user-select: none;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

input[ type = 'checkbox' ] {
    cursor: pointer;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-inner-spin-button , ::-webkit-outer-spin-button {
    appearance: none;
}